<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <!-- Service settings -->
  <system.serviceModel>
    <services>
      <service name="AutoRental.Business.Managers.InventoryManager">
        <endpoint address="net.tcp://localhost:8009/InventoryService" binding="netTcpBinding" contract="AutoRental.Business.Contracts.IInventoryService" />
      </service>
      <service name="AutoRental.Business.Managers.RentalManager">
        <endpoint address="net.tcp://localhost:8009/RentalService" binding="netTcpBinding" contract="AutoRental.Business.Contracts.IRentalService" />
      </service>
      <service name="AutoRental.Business.Managers.AccountManager">
        <endpoint address="net.tcp://localhost:8009/AccountService" binding="netTcpBinding" contract="AutoRental.Business.Contracts.IAccountService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000" transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <!-- ConnectionStrings & Entity Framework-->
  <connectionStrings>
    <add name="DefaultConnection"
     connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=AutoRental;Integrated Security=SSPI;AttachDBFilename=C:\Users\Osita\SourceCode\AutoRental\AutoRental\AutoRental.Data\AutoRental.mdf"
     providerName="System.Data.SqlClient" />
    <add name="AutoRental-Azure"
     connectionString="Server=tcp:tifteg8s5m.database.windows.net,1433;Database=AutoRental;User ID=mrchrisok@tifteg8s5m;Password=Mocha4578;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>