<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=AutoRental;Integrated Security=SSPI;AttachDBFilename=C:\Users\OCOkonwo\Source\Workspaces\OCOCorp\OCOCorp.AutoRental\AutoRental.Data\bin\Debug\AutoRental.mdf"
       providerName="System.Data.SqlClient" />
</connectionStrings>